---
import Layout from '../layouts/Layout.astro';
import BgContainer from '../components/BgContainer.astro';
import WakeMain from '../components/WakeMain.astro';
---

<Layout>
	<BgContainer backgroundImage="/bgs/wake-primary-bg.jpeg">
		<WakeMain />
	</BgContainer>
	<BgContainer backgroundImage="/bgs/wake-gradient2-bg.jpg">
        <!-- <h1 class="text-4xl font-bold">Hello World</h1> -->
	</BgContainer>
	<BgContainer backgroundImage="/bgs/wake-data-bg.webp">
        <!-- <h1 class="text-4xl font-bold">Hello World</h1> -->
	</BgContainer>
	<BgContainer backgroundImage="/bgs/wake-gradient-bg.jpg">
        <!-- <h1 class="text-4xl font-bold">Hello World</h1> -->
	</BgContainer>
	<BgContainer backgroundImage="/bgs/wake-code-bg.webp">
        <!-- <h1 class="text-4xl font-bold">Hello World</h1> -->
	</BgContainer>
</Layout>
